/* 공통스타일 class */
body{
    font-family: 'Noto Sans KR', sans-serif;
  }
.width-full{
    width: auto;
  }
.height-full{
    height:100%;
  }
.wrap{
    width: 1300px;
    margin: 0 auto;
  }
.hide{
    display: none; /* 안보이게 */
  } 
.rbox{
  display: block;
  width: 1150px;
  height: 600px;
  border-radius: 37px;
}
.ibox{
  display: block;
  width: 400px;
  height: 250px;
  border-radius: 30px;
  background-color: #eee;
}
.wcircle{
  width: 280px;
  height: 280px;
  background-color: #eee;
  border-radius: 50%;
}
.pbox{
  display: block;
  width: 270px;
  height: 270px;
  border-radius: 30px;
  background-color: #eee;
}
.pcircle{
  display: block;
  width: 280px;
  height: 280px;
  background-color: #eee;
  border-radius: 50%;
}
.gbox{
  display: block;
  width: 600px;
  height: 350px;
  background-color: #eee;
  border-radius: 20px;
}
.smallbox{
  display: block;
  width: 140px;
  height: 140px;
  background-color: #eee;
  border-radius: 20px;
}
.fbox{
  display: block;
  width: 300px;
  height: 350px;
  background-color: #eee;
  border-radius: 20px;
}
.sbox{
  display: block;
  width: 290px;
  height: 290px;
  background-color: #eee;
  border-radius: 20px;
}
.hcircle{
  display: block;
  width: 280px;
  height: 280px;
  background-color: #eee;
  border-radius: 50%;
}
.flex{
    display: flex;
  }
.flex-center{
    justify-content: center;
  }
.flex-between{
    justify-content: space-between;
  }
.flex-align-center{
    align-items: center;
  }
.flex-column{
    flex-direction: column;
  }
.text-center{
    text-align: center;
  }
.h1{
    font-size: 55px;
  }
.h2{
    font-size: 45px;
  }
.h3{
    font-size: 35px;
  }
.h4{
    font-size: 25px;
  }
.h5{
    font-size: 20px;
  }