#coupon {
  width: 100%;
  background-color: #f6f6f6; 
}
#coupon .wrap {
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  width: 1400px;
}
#coupon .wrap h2 {
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  font-weight: bold;
}
#coupon .wrap .down {
  background-color: #ED1C24;
  color: white;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  padding-right: 45px;
  position: relative;
}
#coupon .wrap .down::after{
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(../img/down.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 50%;
  padding: 3px;
  right: 10px;
  top: 6px;
}
#coupon .wrap .wrap2 {
  display: flex;
  gap: 20px;
}
#coupon .wrap .wrap2 article {
  background-color: red;
  width: 220px;
  height: 160px;
  border-radius: 15px;
  position: relative;
}
#coupon .wrap .wrap2 article ul {
  background-color: white;
  width: 185px;
  height: 153px;
  border-radius: 15px;
  margin-top: 3px;
  margin-left: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#coupon .wrap .wrap2 article ul li:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
  margin-right: 98px;
  margin-bottom: 10px;
}
#coupon .wrap .wrap2 article ul li:nth-child(1)::after{
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(../img/down.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 50%;
  right: 3.5px;
  top: 15px;
  padding: 3px;
}
#coupon .wrap .wrap2 article ul li:nth-child(2) {
  font-size: 14px;
  width: 160px;
  line-height: 1.3;
  margin-bottom: 40px;
  color: #414141;
}
#coupon .wrap .wrap2 article .cview {
  border: 1px solid;
  padding: 6px 10px;
  border-radius: 30px;
  position: absolute;
  bottom: 15px;
  right: 40px;
  transition: all 1s;
  font-size: 13px;
}
#coupon .wrap .wrap2 article .cview:hover{
  border: none;
  background-color: black;
  color: #fff;
}